<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>iFollow Agência Digital</title>

    <!-- Description page -->

    <meta name="description" content="A iFollow é uma agência que ama o que faz. Usando a nossa criatividade, conseguimos resultados incríveis no mercado digital.">
    <meta name="keywords" content="iFollow Agência Digital, iFollow Design, Desenvolvimento de Sites, Lojas Virtuais, E-commerce, Criação de Sites, Criação de Lojas, Desenvolvimento de Websites, Páginas de Internet, Sistemas online, Blogs, Agência Digital, Marketing Digital, Publicidade, Websites, Sites, Hotsites, Campanhas online, Vendas on-line, Otimização de sites, Construção de sites, Mídias sociais, Portais, Design digital, Gestão digital, app mobile, criação de aplicativos mobile, criação de app, app marketing">
	<meta property="og:title" content="iFollow Agência Digital">
	<meta property="og:description" content="A iFollow é uma agência que ama o que faz. Usando a nossa criatividade, conseguimos resultados incríveis no mercado digital.">

    <!---->
    <!-- Bootstrap core CSS -->

	
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Overwrite bootstrap -->
    <link href="/css/overwrite.css" rel="stylesheet">
	
	<!-- font awesome -->
	<link href="/css/font-awesome.css" rel="stylesheet">
    <!--[if lt IE 9]>
	  <link href="css/font-awesome-ie7.css" rel="stylesheet">
	<![endif]-->
	<link href="/css/font-awesome-set.css" rel="stylesheet">

    <!-- Jcarousel style -->
    <link href="/css/jcarousel.css" rel="stylesheet">
	
    <!-- flexslider style -->
    <link href="/css/flexslider.css" rel="stylesheet">
	
    <!-- prettyPhoto style -->	
	<link href="/css/prettyPhoto.css" rel="stylesheet">
	
    <!-- Custom style -->
    <link href="/css/style.css" rel="stylesheet">
	
	<!-- Font  -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
	
	<!-- Color style -->
    <link href="/skin/red.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->	
  </head>
  <body> 

  <%= yield %>
	
  </body>
</html>